var account_name = '<%= @account_name %>';
var random_oneliner = '<%= @random_oneliner %>';
var public_key = '<%= Account.public_keys(@account_name, :posting)[0] %>'

hive_keychain.requestSignBuffer(account_name, random_oneliner, 'Posting', function (response) {
  let digest = '<%= Digest::SHA256.digest(@random_oneliner).unpack('H*')[0] %>';
  let authorized_session_path = '<%= authorized_session_path(@account_name) %>';
  
  success_alert = $('#success-alert');
  error_alert = $('#error-alert');
  
  if (response.success) {
    error_alert.text('');
    error_alert.hide();
    
    success_alert.html('<div class="d-flex align-items-center"><strong>Logging in as ' + response.data.username + '</strong><div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></div>');
    success_alert.show();
    
    if ( !!response.publicKey ) {
      public_key = response.publicKey;
    }
    
    window.location.assign(authorized_session_path + '?public_key=' + public_key + '&signature=' + response.result + '&digest=' + digest);
  } else {
    success_alert.text('');
    success_alert.hide();
    error_alert.text(response.message);
    error_alert.show();
    
    $('input').prop('readonly', false);
  }
});
